.logo {
  width: 70%;
}

.bg-alt {
  background-color: rgba(195,217,163,0.3);
}

.title h3 {
  display:inline;
}

/* search icon */
#searchIcon {
  background-image: url('Subsections/Recycling/IsThisRecyclable/img/search.png'); /* Add a search icon to input */
	background-size: 15px;
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

/* select boxes */
.spaceplz {
  margin: 5px;
}

/* for images under mission statement */
.smol {
  height: 150px;
  border-radius: 50%;
}

/* for news box */
.news {
  width: auto;
  height: 300px;
  overflow: auto;
}

/* NAVBAR TINGZ */
.nav {
  background-color: #70965f;
}

/* Adding border */
.nav-item {
  border: 1px solid white;
  border-left: 0px;
}

.nav-item:last-child {
  border-right: 0px;
}

/* Text to white */
.nav > li > a {
  color: white;
}

.dropdown:hover, .my-button:hover {
  background-color: #84b570;
}

/* Overriding some Bootstrap defaults for better aesthetics */
.dropdown > .dropdown-menu {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  //border: 0.5px solid grey;
}

.hideme {
  display: none;
}

.myselect {
  border: 1px solid red !important;
}
