.bg-alt {
	background-color: rgba(195,217,163,0.3);
}

#title {
	margin-left: 1%;
}

#imgBestWorst {
	width: 50%;
	margin: auto;
}

#imgHolder {
	text-align: center;
}

#colBestWorst {
	margin: auto;
}

#olBestWorst li:not(:last-child){
	margin-bottom: 20px;
}
#olBestWorst li {
	background-color: #fbfff2;
}
#tableRow {
	display: inline;
}
#tableRow img{
	display: inline;
	height: 100px;
}
#tableRow p{
	padding-left: 5px;
	display: inline;
}