.hidden{
	display:none;
}

/* Two image containers*/
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.alt-color {
  background-color: rgba(195,217,163,0.3);
  height: 300px;
  overflow: auto;
}

.mysample {
  display: none;
}

.bold {
  font-weight: bold;
}

.images {
	height: 150px;
}

.resultsbox {
	height: 60vh;
  width: auto;
  overflow: auto;
}

#searchIcon {
  background-image: url('../img/search.png'); /* Add a search icon to input */
	background-size: 15px;
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}


.flex {
   display: flex;
   flex-direction: row;
}
