#radio-group > label {
	margin: auto;
}

#subButton {
	margin: auto;
}

#resultsTitle {
	margin-top: 1%;
}

#sus_img{
	width: 75%;
	margin: auto;
}
#sus_imgB{
	width: 50%;
	margin: auto;
}

#img_container{
	text-align: right;
}
.bg-alt {
  background-color: rgba(195,217,163,0.3);
}